**/bin/
**/obj/
**/**/bin/
**/**/obj/
*.suo
**/packages/
packages/
*.user
build/build.txt
*.zip
TestResults/
Binaries/
*.Cache
/.vs/**
tools/RhymeDictionary.Tools/appsettings.Development.json
**/**/launchSettings.json
**/**/appsettings.Production.json
**/**/tempkey.rsa
!/postgresql-dump/**