<h1 class="page-header">Благодарим Ви за подобряването на римения речник!</h1>
<h2>Нашите модератори ще прегледат думите и ще ги добавят възможно най-скоро.</h2>
<a class="btn btn-primary" href="/">Обратно към римения речник</a>