<h1 class="page-header">Благодарим Ви за коментара!</h1>
<h2>Вашето мнение е важно за нас.<br/>Очаквайте да се свържем с Вас в най-скоро време.</h2>
<a class="btn btn-primary" href="/">Обратно към римения речник</a>