@{
    ViewData["Title"] = "За нас";
}
<div class="page-header">
    <h1>За нас</h1>
</div>

<p>
    Добре дошли в най-доброто място за търсене на рими!<br />
    <br />

    Както всички автори, макар и аматьори, създателите на сайта често изпадаме в писателски блокаж. <br />
    В един момент ни писна и направихме „Римен речник“. <br />
    Целим да помогнем на хората, изпитващи трудности с римуването и писането в мерена реч, понеже сме едни от вас.<br />
    <br />

    Постарахме се да съберем на едно място строгите рими на думите в българския език.<br />
    Това е трудоемко занятие и до момента сме събрали само около 54 000 думи. <br />
    Помогнете ни да увеличим бройката, като <a href="/добави-рими/">добавяте нови.</a> <!-- или докладвате грешните. -->

    <br />
    Ако имате коментари или критика, ще се радваме на <a href="/контакти">обратна връзка</a>.
</p>

<hr />

<h2 id="news">
    Новини
</h2>

<h3>2 Февруари 2018</h3>
Добавихме първите 50 най-търсени думи, заедно с още 50 започващи с "А". <a href="assets/words-changelog.txt">Виж всички.</a>
<ul>
    <li>любовта</li>
    <li>нощта</li>
    <li>обича</li>
    <li>прекрасна</li>
    <li>звезди</li>
    <li>любима</li>
    <li>сама</li>
    <li>тях</li>
    <li>крила</li>
    <li>лети</li>
    <li>усмивки</li>
    <li>...</li>
</ul>

<h3>10 Януари 2018</h3>
<strong>
    Създадохме <a href="https://www.facebook.com/rimenrechnik/">официална Фейсбук страница</a>!<br />
    В нея ще публикуваме новини за сайта, ще четем вашата критика, както и ще дискутираме интересни неща, свързани с мерената реч!<br />
    <a href="https://www.facebook.com/rimenrechnik/">Натиснете тук за да я посетите.</a>
</strong>

<h3>03 Януари 2018</h3>
Добавихме почти всички предложени от Вас думи до момента! <a href="assets/words-changelog.txt">Виж всички.</a>
<ul>
    <li>перилата</li>
    <li>дублира</li>
    <li>бозата</li>
    <li>щраква</li>
    <li>зърната</li>
    <li>говориш</li>
    <li>скубалки</li>
    <li>сбере</li>
    <li>сбира</li>
    <li>врежи</li>
    <li>кове</li>
    <li>върви</li>
    <li>подкупил</li>
    <li>гради</li>
    <li>подбира</li>
    <li>принтира</li>
    <li>умива</li>
    <li>препираш</li>
    <li>слезни</li>
    <li>мерата</li>
    <li>натежи</li>
    <li>барети</li>
    <li>...</li>
</ul>

<h3>21 Юли 2017</h3>
Наваксваме с предложените от вас думи за Юни месец. Предстоят още!
<ul>
    <li>работно</li>
    <li>съботно</li>
    <li>акуратно</li>
    <li>потно</li>
    <li>безжалостно</li>
    <li>апаратно</li>
    <li>примамен</li>
    <li>пламен</li>
    <li>стотно</li>
    <li>мамен</li>
    <li>стамен</li>
    <li>доживотно</li>
    <li>камен</li>
</ul>

<h3>5 Юни 2017</h3>
Продължавайте да предлагате нови думи!
Днес добавихме:
<ul>
    <li>вкъщи</li>
    <li>присъщи</li>
    <li>празнувайте</li>
    <li>хладко</li>
    <li>намръщи</li>
    <li>същи</li>
    <li>къщи</li>
    <li>полетял</li>
    <li>полетях</li>
    <li>планувайте</li>
    <li>дарувайте</li>
    <li>пирувайте</li>
    <li>мълчах</li>
    <li>колебах</li>
    <li>смръщи</li>
    <li>бях</li>
    <li>мечтах</li>
    <li>рисувайте</li>
    <li>гладувайте</li>
    <li>видях</li>
    <li>могъщи</li>
    <li>царувайте</li>
</ul>


<h3>26 Май 2017</h3>
Добавихме нови думи:
<ul>
    <li>едно</li>
    <li>засмяна</li>
    <li>двубоя</li>
    <li>старее</li>
    <li>шубето</li>
    <li>чува</li>
    <li>бомбето</li>
    <li>вечна</li>
    <li>верни</li>
    <li>последна</li>
    <li>моя</li>
    <li>лица</li>
    <li>кубето</li>
    <li>тревата</li>
    <li>една</li>
    <li>героя</li>
    <li>здрави</li>
    <li>бабето</li>
    <li>весели</li>
    <li>зноя</li>
    <li>прекрасни</li>
    <li>желаем</li>
    <li>покориш</li>
    <li>пролетта</li>
    <li>небето</li>
    <li>даде</li>
    <li>шкембето</li>
    <li>нови</li>
    <li>гости</li>
</ul>

<h3>24 Май 2017</h3>
Добавихме нова функционалност - <a href="/добави-рими">предлагане на думи и рими</a>.<br />
Ако не намирате нужните рими или имате предложения за думи, които не сме добавили, може да ни ги предложите <a href="/добави-рими">тук</a>.<br />
Модераторите ни ще ги прегледат и ще ги добавят възможно най-скоро.

<h3>19 Май 2017</h3>
<p>
    <ul>
        <li>Добавихме секция за новини.</li>
        <li>Разширихме секцията "За Нас".</li>
        <li>Добавихме връзки към най-често търсените думи над полето за търсене.</li>
        <li>
            Добавихме нови думи в базата данни:
            <ul>
                <li>света</li>
                <li>чака</li>
                <li>нежна</li>
                <li>снежна</li>
                <li>прилежна</li>
                <li>платежна</li>
                <li>небрежна</li>
                <li>неизбежна</li>
                <li>центробежна</li>
                <li>крайбрежна</li>
                <li>възможна</li>
                <li>важна</li>
                <li>безгрижна</li>
                <li>заложна</li>
                <li>амбалажна</li>
                <li>длъжна</li>
                <li>всевъзможна</li>
                <li>ближна</li>
                <li>безбожна</li>
                <li>етажна</li>
                <li>влажна</li>
                <li>абонаментна</li>
                <li>темпераментна</li>
                <li>тъжна</li>
                <li>окръжна</li>
                <li>верижна </li>
                <li>подвижна</li>
            </ul>
        </li>
        <li>Оправихме неправилно заменяне на празни знаци с "+" в полето за търсене.</li>
    </ul>
</p>
